//Header
$header-heigth: 34px;
$toolbar-heigth: 40px;
$formula-height: 24px;

//Other
$cell-width: 120px;
$info-cell-width: 40px;
$roll-heigth: 24px;

//Color
$border-color: #c0c0c0;


// db
$db-header-height: 64px
